<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('soga_front_end_inicio') }}">Soga V1.0.0</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ path('soga_front_end_inicio') }}">Inicio</a> </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Aplicaciones <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('soga_front_end_inicio') }}">Otras</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Nomina</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="{{ path('soga_nomina_configuracion') }}">Configuracion</a></li>
                                <li class="dropdown-submenu">
                                    <a href="#">Herramientas</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('soga_nomina_herramientas_intercambio_contai') }}">Intercambio de datos - Nomina</a></li>
                                        <li><a href="{{ path('soga_nomina_herramientas_intercambio_contai_prestaciones') }}">Prestaciones</a></li>
                                        <li><a href="{{ path('soga_nomina_herramientas_intercambio_contai_vacaciones') }}">Vacaciones</a></li>
                                        <li><a href="{{ path('soga_nomina_herramientas_intercambio_contai_recibos') }}">Recibos</a></li>
                                        <li><a href="{{ path('soga_nomina_herramientas_intercambio_contai_primas') }}">Primas</a></li>
                                        <li><a href="{{ path('soga_nomina_herramientas_intercambio_contai_terceros') }}">Terceros</a></li>
                                        <li><a href="{{ path('soga_nomina_herramientas_intercambio_contai_parametrizacion_eps') }}">Parametrizacion eps</a></li>
                                        <li><a href="{{ path('soga_nomina_herramientas_intercambio_contai_parametrizacion_pension') }}">Parametrizacion pension</a></li>
                                        <li><a href="{{ path('soga_nomina_herramientas_intercambio_contai_parametrizacion_salario') }}">Parametrizacion salario</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#">Utilidades</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('soga_nomina_utilidades_generar_pago') }}">Exportar pago</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Contabilidad</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="{{ path('soga_contabilidad_configuracion') }}">Configuracion</a></li>
                                <li class="dropdown-submenu">
                                    <a href="#">Herramientas</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('soga_contabilidad_herramientas_intercambio_contai_comprobantes') }}">Intercambio - contai - comprobantes</a></li>
                                        <li><a href="{{ path('soga_contabilidad_herramientas_intercambio_contai_parametrizacion_bancos') }}">Parametrizacion bancos</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Facturacion</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="{{ path('soga_facturacion_configuracion') }}">Configuracion</a></li>
                                <li class="dropdown-submenu">
                                    <a href="#">Herramientas</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('soga_facturacion_herramientas_intercambio_contai_facturas') }}">Intercambio - contai - facturas</a></li>
                                        <li><a href="{{ path('soga_facturacion_herramientas_intercambio_contai_parametrizacion_item') }}">Parametrizacion item</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Externas</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="{{ path('soga_nomina_utilidades_pila') }}">PILA</a></li>
                                <li><a tabindex="-1" href="{{ path('soga_nomina_consultas_pila_historico') }}">Historico</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Procesos <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Nomina</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="{{ path('soga_nomina_procesos_procesar_nomina') }}">Procesar nomina</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{ Usuario }}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Configuracion</a></li>
                        <li><a href="#">Seguridad</a></li>
                        <li><a href="#">Parametrizacion</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('logout') }}">Salir</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>