{% extends '::base.html.twig' %}
{% block content %}
<script>
    $(function() {
        $("#TxtFechaDesde").datepicker({dateFormat: 'yy/mm/dd'});
        $("#TxtFechaHasta").datepicker({dateFormat: 'yy/mm/dd'});
    });
</script>
<div class="container">
    <div class="page-header">
        <h1>Intercambio de datos: <small><label id="lblNombreDocumento">Recibos Caja</label></small></h1>
    </div>

    <form id="FrmTabla" action="{{ path('soga_nomina_herramientas_intercambio_contai_recibos') }}" method="POST" novalidate>

        <table class="table table-striped table-bordered table-condensed table-hover" style="font-size:12px">
            <tr>
                <th>{{ knp_pagination_sortable(arMaestroRecibo, 'ID', 'marecibo.nroCaja') }}</th>
                <th>{{ knp_pagination_sortable(arMaestroRecibo, 'Nit', 'marecibo.codmaestro') }}</th>
                <th>{{ knp_pagination_sortable(arMaestroRecibo, 'Fecha', 'marecibo.fechaRa') }}</th>
                <th>{{ knp_pagination_sortable(arMaestroRecibo, 'Tipo', 'marecibo.idrecibo') }}</th>
                <th>{{ knp_pagination_sortable(arMaestroRecibo, 'Estado', 'marecibo.estado') }}</th>                
                <th style="text-align: right">{{ knp_pagination_sortable(arMaestroRecibo, 'Valor', 'marecibo.vlrpagado') }}</th>                                
                <th><input type="checkbox" name="ChkSeleccionarTodos" OnClick="ChequearTodos(this);"/></th>

            </tr>

            {% for arMaestroRecibo in arMaestroRecibo %}
            <tr>
                <td><input type="hidden" name="LblCodigoCopia[]" value="{{ arMaestroRecibo.nroCaja }}">{{ arMaestroRecibo.nroCaja }}</td>
                <td>{{ arMaestroRecibo.codmaestro }}</td>
                <td>{{ arMaestroRecibo.fechaRa |date("Y/m/d")  }}</td>               
                <td>{{ arMaestroRecibo.idrecibo }}</td>                
                <td>{{ arMaestroRecibo.estado }}</td>                
                <td style="text-align: right">{{ arMaestroRecibo.vlrpagado | number_format(0, '.', ',') }}</td>                                
                <td><input type="checkbox" name="ChkSeleccionar[]" value="{{ arMaestroRecibo.nroCaja }}" /></td>
            </tr>
            {% endfor %}
        </table>

        <div class="navigation">
            {{ knp_pagination_render(arMaestroRecibo) }}
        </div>

        <!-- Botones Menu Items -->
        <div class="btn-toolbar" style="float: right">
            <div class="btn-group">
                <button class="btn btn-default" type="submit" name="OpSubmit" value="OpExportar" >Exportar seleccionados</button>
                <button class="btn btn-danger btn-mini" type="submit" name="OpSubmit" value="OpGenerarPlano" >Generar archivo plano</button>

            </div>
        </div>

        <br /><br />
        <hr/>

        <div class="panel panel-default">
            <div class="panel-heading">Cargar recibo</div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="TxtNumeroPrestacion" class="col-sm-2 control-label">Numero:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="TxtNumeroPrestacion" name="TxtNumeroPrestacion"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-primary" type="submit" name="OpSubmit" value="OpCargarMaestroRecibo">Cargar recibo</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Formulario busqueda</div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="TxtFechaDesde" class="col-sm-2 control-label">Desde</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="TxtFechaDesde" name="TxtFechaDesde" placeholder="Fecha desde aaaa-mm-dd" {% if arrControles is not null %} value="{{arrControles.TxtFechaDesde}}" {% endif%}/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="TxtFechaHasta" class="col-sm-2 control-label">Hasta</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="TxtFechaHasta" name="TxtFechaHasta" placeholder="Fecha desde aaaa-mm-dd" {% if arrControles is not null %} value="{{arrControles.TxtFechaHasta}}" {% endif%}/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-primary" type="submit" name="OpSubmit" value="OpBuscar">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}