{% extends '::base.html.twig' %}
{% block content %}
<script>
    $(function() {
        $("#TxtFechaDesde").datepicker({dateFormat: 'yy/mm/dd'});
        $("#TxtFechaHasta").datepicker({dateFormat: 'yy/mm/dd'});
    });
</script>
<div class="container">
    <div class="page-header">
        <h1>Intercambio de datos: <small><label id="lblNombreDocumento">Vacaciones</label></small></h1>
    </div>

    <form id="FrmTabla" action="{{ path('soga_nomina_herramientas_intercambio_contai_vacaciones') }}" method="POST" novalidate>

        <table class="table table-striped table-bordered table-condensed table-hover" style="font-size:12px">
            <tr>
                <th>{{ knp_pagination_sortable(arVacacion, 'ID', 'vacacion.codvaca') }}</th>
                <th>{{ knp_pagination_sortable(arVacacion, 'Cedula', 'vacacion.cedemple') }}</th>
                <th>{{ knp_pagination_sortable(arVacacion, 'Nombres', 'vacacion.nombre') }}</th>                
                <th>{{ knp_pagination_sortable(arVacacion, 'Proceso', 'vacacion.fechap') }}</th>
                <th>{{ knp_pagination_sortable(arVacacion, 'Desde', 'vacacion.fechai') }}</th>
                <th>{{ knp_pagination_sortable(arVacacion, 'Hasta', 'vacacion.fechac') }}</th>
                <th style="text-align: right">{{ knp_pagination_sortable(arVacacion, 'A pagar', 'vacacion.valor') }}</th>
                <th>{{ knp_pagination_sortable(arVacacion, 'control', 'vacacion.control') }}</th>
                <th><input type="checkbox" name="ChkSeleccionarTodos" OnClick="ChequearTodos(this);"/></th>

            </tr>

            {% for arVacacion in arVacacion %}
            <tr>
                <td><input type="hidden" name="LblCodigoCopia[]" value="{{ arVacacion.codvaca }}">{{ arVacacion.codvaca }}</td>
                <td>{{ arVacacion.cedemple }}</td>
                <td>{{ arVacacion.nombre }}</td>
                <td>{{ arVacacion.fechap |date("Y/m/d")  }}</td>
                <td>{{ arVacacion.fechai |date("Y/m/d")  }}</td>
                <td>{{ arVacacion.fechac |date("Y/m/d")  }}</td>
                <td style="text-align: right">{{ arVacacion.valor | number_format(0, '.', ',') }}</td>
                <td>{{ arVacacion.control }}</td>
                <td><input type="checkbox" name="ChkSeleccionar[]" value="{{ arVacacion.codvaca }}" /></td>
            </tr>
            {% endfor %}
        </table>

        <div class="navigation">
            {{ knp_pagination_render(arVacacion) }}
        </div>

        <!-- Botones Menu Items -->
        <div class="btn-toolbar" style="float: right">
            <div class="btn-group">
                <button class="btn btn-default" type="submit" name="OpSubmit" value="OpExportar" >Exportar seleccionados</button>
                <button class="btn btn-danger btn-mini" type="submit" name="OpSubmit" value="OpGenerarPlano" >Generar archivo plano</button>

            </div>
        </div>

        <br /><br />
        <hr/>

        <div class="panel panel-default">
            <div class="panel-heading">Cargar vacacion</div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="TxtNumeroConsecutivoDesde" class="col-sm-2 control-label">Desde:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="TxtNumeroConsecutivoDesde" name="TxtNumeroConsecutivoDesde"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="TxtNumeroConsecutivoHasta" class="col-sm-2 control-label">Hasta:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="TxtNumeroConsecutivoHasta" name="TxtNumeroConsecutivoHasta"/>
                        </div>
                    </div>                    
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-primary" type="submit" name="OpSubmit" value="OpCargarVacacion">Cargar vacacion</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="panel panel-default">
            <div class="panel-heading">Formulario busqueda</div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="TxtFechaDesde" class="col-sm-2 control-label">Desde</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="TxtFechaDesde" name="TxtFechaDesde" placeholder="Fecha desde aaaa-mm-dd" {% if arrControles is not null %} value="{{arrControles.TxtFechaDesde}}" {% endif%}/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="TxtFechaHasta" class="col-sm-2 control-label">Hasta</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="TxtFechaHasta" name="TxtFechaHasta" placeholder="Fecha desde aaaa-mm-dd" {% if arrControles is not null %} value="{{arrControles.TxtFechaHasta}}" {% endif%}/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-primary" type="submit" name="OpSubmit" value="OpBuscar">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}