{% extends '::base.html.twig' %}
{% block content %}
<div class="container">
    <script type="text/javascript">
    $(document).ready(function() {
            $('.date').datepicker({ dateFormat: 'yy-mm-dd' ,dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa" ],monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Deciembre" ], monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ]})  });
    </script>
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ form_errors(form) }}

    <h3>Nuevo detalle de periodo</h3>
    <div class="panel panel-default">
        <div class="panel-heading">Informacion general</div>
        <div class="panel-body">

            <div class="form-group form-group-sm">
                <label for="form_nombre" class="col-sm-2 control-label">Nombre:</label>
                <div class="col-sm-10">                        
                    {{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}                    
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="form_sucursalRel" class="col-sm-2 control-label">Sucursal:</label>
                <div class="col-sm-10">                        
                    {{ form_widget(form.sucursalRel, { 'attr': {'class': 'form-control'} }) }}                    
                </div>
            </div>                
        </div>
    </div>                
    <div class="modal-footer">
        <a class="btn btn-default btn-sm" href="{{ path('soga_nomina_utilidades_pila_detalle_lista', {'codigoPeriodo': arPeriodo.codigoPeriodoPk }) }}">Cancelar</a>        
        {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}        
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}