{% extends '::base.html.twig' %}
{% block content %}
<script>
    $(function() {
        $("#TxtFechaDesde").datepicker({dateFormat: 'yy/mm/dd'});
        $("#TxtFechaHasta").datepicker({dateFormat: 'yy/mm/dd'});
    });
</script>
<div class="container">
    <div class="page-header">
        <h1>Intercambio de datos: <small><label id="lblNombreDocumento">comprobantes</label></small></h1>
    </div>
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}       
        <div class="panel panel-default">
            <div class="panel-heading">Filtros de busqueda</div>
            <div class="panel-body">
                <div class="form-group form-group-sm">
                    <label for="form_tipoComprobante" class="col-sm-2 control-label">Desde:</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.tipoComprobante, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="form_TxtFechaDesde" class="col-sm-2 control-label">Desde:</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.TxtFechaDesde, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="form_TxtFechaHasta" class="col-sm-2 control-label">Hasta:</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.TxtFechaHasta, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>                    
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ form_widget(form.BtnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-condensed table-hover" style="font-size:12px">
            <tr>
                <th>{{ knp_pagination_sortable(arMaestroComprobantes, 'ID', 'maestrocomprobantes.nro') }}</th>
                <th>{{ knp_pagination_sortable(arMaestroComprobantes, 'CODIGO', 'maestrocomprobantes.codmaestro') }}</th>                               
                <th>{{ knp_pagination_sortable(arMaestroComprobantes, 'FECHA', 'maestrocomprobantes.fechaRa') }}</th>
                <th>{{ knp_pagination_sortable(arMaestroComprobantes, 'PAGO', 'maestrocomprobantes.fechapago') }}</th>
                <th style="text-align: right">{{ knp_pagination_sortable(arMaestroComprobantes, 'VR PAGADO', 'maestrocomprobantes.vlrpagado') }}</th>                                                
                <th>{{ knp_pagination_sortable(arMaestroComprobantes, 'TIPO', 'maestrocomprobantes.id') }}</th>                
                <th><input type="checkbox" name="ChkSeleccionarTodos" OnClick="ChequearTodos(this);"/></th>

            </tr>

            {% for  arMaestroComprobantes in arMaestroComprobantes %}
            <tr>
                <td><input type="hidden" name="LblCodigoCopia[]" value="{{ arMaestroComprobantes.nro }}">{{ arMaestroComprobantes.nro }}</td>
                <td>{{ arMaestroComprobantes.codmaestro }}</td>                
                <td>{{ arMaestroComprobantes.fechaRa |date("Y/m/d")  }}</td>
                <td>{{ arMaestroComprobantes.fechapago |date("Y/m/d")  }}</td>
                <td style="text-align: right">{{ arMaestroComprobantes.vlrpagado | number_format(0, '.', ',') }}</td>
                <td>{{ arMaestroComprobantes.id }}</td>                
                <td><input type="checkbox" name="ChkSeleccionar[]" value="{{ arMaestroComprobantes.nro }}" /></td>            
            </tr>
            {% endfor %}
        </table>

        <div class="navigation">
            {{ knp_pagination_render(arMaestroComprobantes) }}
        </div>    

        <!-- Botones Menu Items -->
        <div class="btn-toolbar" style="float: right">
            <div class="btn-group">
                {{ form_widget(form.BtnExportarSeleccionados, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}                
            </div>
            <div class="btn-group">
                {{ form_widget(form.BtnGenerarPlano, { 'attr': {'class': 'btn btn-danger btn-sm', 'style':'float:right'} }) }}
            </div>
        </div>
        <br /><br />
        <hr/>
        <div class="panel panel-default">
            <div class="panel-heading">Cargar comprobantes</div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="TxtNumeroConsecutivoDesde" class="col-sm-2 control-label">Desde:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="TxtNumeroConsecutivoDesde" name="TxtNumeroConsecutivoDesde"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="TxtNumeroConsecutivoHasta" class="col-sm-2 control-label">Hasta:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="TxtNumeroConsecutivoHasta" name="TxtNumeroConsecutivoHasta"/>
                        </div>
                    </div>                    
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-primary" type="submit" name="OpSubmit" value="OpCargarComprobante">Cargar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        
        <hr/>
        <!-- Fin Botones Menu Items --> 
        <div class="form-horizontal">
            <div class="well">
                <div class="form-group">
                    <label for="TxtFechaDesde" class="col-sm-2 control-label">Desde</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="TxtFechaDesde" name="TxtFechaDesde" placeholder="Fecha desde aaaa-mm-dd" {% if arrControles is not null %} value="{{arrControles.TxtFechaDesde}}" {% endif%}/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="TxtFechaHasta" class="col-sm-2 control-label">Hasta</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="TxtFechaHasta" name="TxtFechaHasta" placeholder="Fecha desde aaaa-mm-dd" {% if arrControles is not null %} value="{{arrControles.TxtFechaHasta}}" {% endif%}/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary" type="submit" name="OpSubmit" value="OpBuscar">Buscar</button>
                    </div>
                </div>
                <!-- Fin formulario de busqueda -->
            </div>
        </div>        
        {{ form_rest(form) }}
    {{ form_end(form) }}    
</div>

{% endblock %}